
body {
    background-color: #01539d;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    /* overflow-x: hidden; */
    /* -webkit-scrollbar: none; */
    margin: 0;
}
#head {
    background-color: #eea47f;
    padding: 2rem 1rem;
    margin: 0 auto;
    display: block;
    /* position: relative;
    top: 0;
    left: 0; */
    /* width: 100%; */
}
#nav {
  overflow: hidden;
  background-color: none;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #01539d;
}
#nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
#nav a:hover{
    background-color: #eea47f;
    color: black;
}
.charity {
    background-image: linear-gradient(#eea47f, #eea47f, #01539d);
    background-color: #eea47f;
    color: black;
    margin: 0 auto;
    width: 80%;
    padding: 5px 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
}

.charity a , .charity p:nth-child(4){
    color: white;
}

#foot {
    background-color: #eea47f;
    padding: 0.5rem 0.5rem;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}
#foot a {
    color: black;
}
