
body {
    background-color: #fcf6f6;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}
#head {
    background-color: rgb(119, 211, 211);
    padding: 0.1rem 1rem;
    margin: 0 auto;
    display: block;
}
#nav {
  overflow: hidden;
  background-color: none;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #fcf6f6;
  color: black;
}
#nav a {
  float: left;
  text-align: center;
  padding: 15px 20px;
}
#nav a:hover{
    background-color: rgb(119, 211, 211);
    color: black;
    text-decoration: underline;
}
#nav a.active {
    background-color: rgb(119, 211, 211);
}
.charity {
    background-image: linear-gradient(rgb(119, 211, 211), rgb(119, 211, 211), #ebc0af);
    /* background-color: #eea47f; */
    color: black;
    margin: 0 auto;
    width: 80%;
    padding: 5px 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
}
#SortButtons {
    text-align: center;
    margin: 0rem auto;
    padding: 25px 25px;
    position: sticky;
    position: -webkit-sticky;
}
.sort {
    background-color: rgb(119, 211, 211);
    color: black;
    border-radius: 5px;
    box-shadow: 0px 2px 5px black;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    width: fit-content;
    height: 100%;
}
.sort:hover {
    background-color: #ddd;
}
.sort:active {
    background-color: rgb(187, 187, 187);
    transform: translateY(2px);
}
#foot {
    background-color: rgb(119, 211, 211);
    padding: 0.5rem 0.5rem;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}
#foot a {
    color: black;
}

#Help {
    text-align: center; 
    font-size: 40px; 
    margin: 0 auto;
    text-align: center;
    width: 650px;
}

#Help ol {
    font-size: 20px; 
    font-weight:lighter; 
    line-height: 30px;
    margin: 0 auto;
    text-align: justify;
}

#About { 
    font-size: 40px; 
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
}

#Aboutparagraph { 
    font-size: 20px;
    line-height: 30px;
    font-weight: lighter;
    margin: 0 auto;
    width: 600px;
    text-align: justify;
}




