
body {
    background-color: #fcf6f6;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}
#head {
    background-color: rgb(119, 211, 211);
    padding: 0.1rem 1rem;
    margin: 0 auto;
    display: block;
}
#head img {
    width: 4%;
    margin-right: 15px;
}
#nav {
  overflow: hidden;
  background-color: none;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #fcf6f6;
  color: black;
}
#nav a {
  float: left;
  text-align: center;
  padding: 15px 20px;
}
#nav a:hover{
    background-color: rgb(119, 211, 211);
    color: black;
    text-decoration: underline;
}
#nav a.active {
    background-color: rgb(119, 211, 211);
}
.charity {
    background-image: linear-gradient(rgb(119, 211, 211), rgb(119, 211, 211), #ebc0af);
    color: black;
    margin: 0 auto;
    width: 70%;
    padding: 5px 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
}
#SortButtons {
    text-align: center;
    margin: 0rem auto;
    padding: 25px 25px;
    position: sticky;
    position: -webkit-sticky;
}
.sort {
    background-color: rgb(119, 211, 211);
    color: black;
    border-radius: 5px;
    box-shadow: 0px 2px 5px black;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    width: fit-content;
    height: 100%;
}
.sort:hover {
    background-color: rgb(104, 185, 185);
}
.sort:active {
    background-color: rgb(85, 151, 151);
    transform: translateY(2px);
}

#TopCharities { 
    text-align: center;
    /* font-size: 50px; */
}
#charitylist {
  margin: auto; 
  margin-top: 20px; 
  left: 50%;
  border-radius: 25px;
  border: 3px solid gray;
  padding: 20px;
  width: 700px;
  height: 150px;
  box-shadow: 7px 7px 7px black;
  text-align: center;
  font-size: 16px;
}
#foot {
    background-color: rgb(119, 211, 211);
    padding: 0.5rem 0.5rem;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}
#foot a {
    color: black;
}

#About , #Help { 
    margin: 0 auto;
    text-align: center;
}
#About p , #Help p{ 
    font-size: 20px;
    line-height: 30px;
    margin: 0 auto;
    width: 60%;
    text-align: justify;
}
#About img {
    margin: 0.5em 1em;
    width: 10%;
}

@media screen and (max-width: 450px ){
    html {
        overflow-x: hidden;
    }
    #TopCharities p {
        width: 80%;
    }
    #TopCharities img { 
        height: 30%;
        width: 30%;
    }
    #Help ol {
        width: 90%;
    }
    #About p {
        width: 90%;
        line-height: auto;
    }
    #About img {
        width: 20%;
    }
    #Help ol {
        width: 80%;
    }
    #nav a {
        width: 90%;
    }
    #head img {
        width: 10%;
        height: 10%;
        float: right;
    }
    .charity {
        width: 300px;
        box-shadow: 0 10px 15px black;
    }
    #SortButtons , #SortButtons button{
        display: none;
    }
    /* #SortButtons {
        position: sticky;
        position: -webkit-sticky;
        top: 5em;
        background-color: white;
    }
    #SortButtons button {
        display: none;
        float: left;
        text-align: justify;
        padding: 15px 20px;
    } */
   
}


